<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BH.oM.Properties.Settings.SteelSectionConnectionsString"
            connectionString="Data Source=(LocalDB)\ProjectsV13;AttachDbFilename={0}\BH.oM\Structural\Databases\SteelSections.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="BH.oM.Properties.Settings.MaterialConnectionString"
            connectionString="Data Source=(LocalDB)\ProjectsV13;AttachDbFilename={0}\BH.oM\Structural\Databases\Materials.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="BH.oM.Properties.Settings.CableSectionConnectionStrin"
            connectionString="Data Source=(LocalDB)\ProjectsV13;AttachDbFilename={0}\BH.oM\Structural\Databases\Cables.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
