# BHoM REPO CODEOWNERS

# default global
* @al-fisher @rwemay @adecler


# project owners 

#NEED OWNER: /Acoustic_oM
/Analytical_oM @al-fisher @adecler @IsakNaslundBh @FraserGreenroyd
/Architecture_oM @FraserGreenroyd
/BHoM @adecler
/BHoM_Test @adecler
/Common_oM @al-fisher @rwemay
/DataManipulation_oM @adecler
/DataStructure_oM @adecler
/Diffing_oM @alelom @al-fisher @adecler @epignatelli
/Environment_oM @FraserGreenroyd
/Geometry_oM @pawelbaran
#NEED OWNER: /Graphics_oM
/Humans_oM @al-fisher
/Physical_oM @al-fisher @adecler @IsakNaslundBh @FraserGreenroyd
/Planning_oM @rwemay
/Reflection_oM @adecler
/Structure_oM @IsakNaslundBh
